body{

  margin:0;
  padding:0;
  font-family:"Gotham", sans-serif;
  font-size: 14px;
  color:#444;
  background-image: url("../images/nerve_wallpaper.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-weight: bold;



}

section{
  width: 100%;
  height: 750px;
  overflow:hidden;
   background-color:rgba(0, 0, 0, 0.5);
}


#nerve_title>img{
  width: 1000px;
  height: auto;
  margin-left: 17%;
  animation: slide 2.2s;
}

#watcher_title>img{
  width: 280px;
  height: auto;
  margin-top: -100px;
    animation: slide 2.4s;
}
#player_title>img{
  width: 280px;
  height: auto;
  margin-top: -100px;
  animation: slide 2.6s;
}

#subtitle{
  width: 280px;
  display: flex;
  flex-direction: row;
  margin-left: 31%
}
#image_gif{
  margin-left: 10%;
}
#description_image{
  display: flex;
  flex-direction: row;
}
#description{
  margin-top: 100px;
  color: white;
  margin-left: 50px;
  font-size: 20px;
  width: 200px;
  animation: slide 2.6s;

}

#description_image>img{
  width: 1000px;
  margin-top: -100px;
  margin-left: 20px;
  margin-bottom: -50px;
  animation: slide 3s;


}


#container_text{
  display: flex;
  flex-direction: row;
  align-items: center;
}
#resume{
     color: white;
    font-size: 20px;
    width: 700px;
    text-align: center;
    padding: 60px 200px 60px 200px;
    opacity: 0;
}
  #resume>img{
    width: 500px;
    height : auto;
  }
#first_charactere{

    position: relative;
    opacity: 0;
}

#first_charactere>img{
width: 200px;
height: auto;
position: absolute;
}
#second_charactere{
  padding-top: 100px;
  position: relative;
  opacity: 0;
}
#second_charactere>img{
  position: absolute;
  width: 200px;
  height: auto;
  right: 0;
}
#third_charactere>img{
  position: absolute;
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin-left: 50px;
  margin-top: 50px;

}

#vee_description{
color: white;
 font-size: 15px;
 width: 700px;
 margin-left: 190px;
 margin-top: 100px;
 padding: 60px;
}
#ian_description{
color: white;
 font-size: 15px;
 width: 700px;
 margin-left: 540px;
 padding: 60px;

}
#sydney_description{
color: white;
 font-size: 15px;
 width: 700px;
 margin-left: 300px;
padding-top: 100px;
}

#third_page{
  padding-bottom: 100px;
}

#fourth_page{
  display: flex;
}
iframe{
  margin-top: 100px;
}

#casting_description{
  color: white;
  font-size: 30px;
  width: 600px;
  height: 400px;
  margin-top: 100px;
  margin-left: 20px;
  padding: 30px;
  opacity: 0;
}

#fifth_page{
  display: flex;
  background-color:rgba(0, 0, 0, 0.8  );

}
h3{
  font-size: 30px;
  color: white;
}
h4{
  font-size: 50px;
  color: white;
  margin-left: 40px;
}


.button{
  border-radius: 20px;
  background-color:rgba(0, 0, 0, 0.5 );
  border-color: white;
  color: white;
  margin-left: 250px;
  padding: 20px;
}


@keyframes slide {
  from{
    transform: translateX(-500px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

#bubble{
  display: flex;
  width: 100%;
  font-size: 20px;
}

.bubble-text{
    margin-left: 100px;
    color: white;
    padding:7px 15px;
    border-radius:3px;
    width:350px;
  }
  .bubble-text2{
      color: white;
      width: 300px;
      margin-top: 250px;
      margin-left: 100px;
    }
    .bubble-text3{
        color: white;
        width: 300px;
        margin-left: 100px;

      }

      .guillemet{
        font-size: 100px;

      }
      #apostrophe_bas{
        margin-left: 250px;
      }
      #apostrophe_bas>img{
        width: 20px;
        height: auto;
      }

    #apostrophe{
      width: 20px;
      height: auto;
    }


.avatar>img{
  width: 100px;
  height: auto;
}
.social_network{
  position:absolute;
  position: fixed;
  left: 0;
  bottom: 1;
  z-index:1;
}
.fa {
  padding: 20px;
  font-size: 80px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-left: 25px;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
#video{
  margin-top: 50px;
}

#replay{
  width: 150px;
  height: 100px;
  position: absolute;
  right: 0;
  background-color: red;
  position: fixed;
  color: white;
  font-size: 30px;
  z-index: 10;
}

#replay>a{
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
  padding-top: 30px;
}

#scroll_top{
  padding: 30px;
  position: absolute;
  right: 0;
  bottom:0;
  position: fixed;
  color: white;
  font-size: 30px;
  z-index: 10;
}
