body{
  margin:0;
  padding:0;
  font-family: "Niramit", "Arial", sans-serif;
  font-size: 16px;
  color: #e2e1de;
  background-color: black;
}

.alertPannel{
  width : 100%;
  height: 100%;
  background: black;
  position: absolute;
  z-index: 1;
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.alertPannel img{
  width : 200px;
  height: 200px;
}

.alertPannel h1{
  color : #F3F302;
}

.createAccountWatcher{
  opacity: 0;
  position: absolute;
  top : 50%;
  left : 40%;
}

.createAccountWatcher input{
  width : 200px;
  height: 30px;
}

#buttonStartWatcherAccount{
  margin-top: 20px;
  width: 100px;
  height: 50px;
  border-radius: 5%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttonStartWatcherAccount h3 a{
  color : white;
  text-decoration: none;
}

.bloc{
  width: 100%;
  display: flex;
  justify-content: center;
}
.containerNerve{
  width : 100%;
  display: flex;
  justify-content: center;
  flex-direction: clumn;
  margin-top : 200px;
}

.containerTxt{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  opacity: .8;
}

.containerWatcherPlayer{
  width : 100%;
  display: flex;
  justify-content: center;
}

.containerNerve img{
  width : 50%;
  height: auto;
}

.containerWatcherPlayer img{
  width : 35%;
  height: auto;
}

/* OPACITY JS */

.opacityON{
  opacity: 1;
}

.opacityOFF{
  opacity: .6;
}

#txtPresentation{
  display: none;
  position: absolute;
  top : 35%;
  left : 27%;
  animation : type 1.7s steps(22);
  overflow : hidden;
  white-space : nowrap;
  border-right: 4px solid white;
  width : 30ch;

}
@keyframes type {
  0% {
    width:0ch;
  }
  100% {
    width: 30ch;
  }
}

#pseudoTxt{
  display: none;
  position: absolute;
  top : 42%;
  left : 27%;
  animation : type 1.7s steps(22);
  overflow : hidden;
  white-space : nowrap;
  border-right: 4px solid white;
  width : 30ch;
}
