body{
  margin:0;
  padding:0;
  font-family: "Niramit", "Arial", sans-serif;
  font-size: 16px;
  color: #e2e1de;
  background-color: black;
}

.createAccountWatcher{
  opacity: 0;
  position: absolute;
  top : 50%;
  left : 40%;
}

.createAccountWatcher input{
  width : 200px;
  height: 30px;
}

#buttonStartWatcherAccount{
  margin-top: 20px;
  width: 100px;
  height: 50px;
  border-radius: 5%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttonStartWatcherAccount h3 a{
  color : white;
  text-decoration: none;
}

.bloc{
  width: 100%;
  display: flex;
  justify-content: center;
}
.containerNerve{
  width : 100%;
  display: flex;
  justify-content: center;
  flex-direction: clumn;
  margin-top : 20px;
}

.containerTxt{
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  opacity: .8;
}

.containerWatcherPlayer{
  width : 100%;
  display: flex;
  justify-content: center;
}

.containerNerve img{
  width : 50%;
  height: auto;
}

.containerWatcherPlayer img{
  width : 35%;
  height: auto;
}



.containerGif{
  width : 35%;
  height: 230px;
  margin: 50px auto;
  border: 2px solid #FFFF00;
  display: flex;
  justify-content: center;
}

.bgNerve{
  background-image: url(../images/nerve.gif);
}

.bgWatcher{
  background-image: url(../images/watcher.gif);
}

.bgPlayer{
  background-image: url(../images/player.gif);
}

/* OPACITY JS */

.opacityON{
  opacity: 1;
}

.opacityOFF{
  opacity: .6;
}

#txtPresentation{
  display: none;
  position: absolute;
  top : 35%;
  left : 27%;
  animation : type 1.2s steps(22);
  overflow : hidden;
  white-space : nowrap;
  border-right: 4px solid white;
  width : 30ch;

}
@keyframes type {
  0% {
    width:0ch;
  }
  100% {
    width: 32ch;
  }
}

#pseudoTxt{
  display: none;
  position: absolute;
  top : 42%;
  left : 27%;
  animation : type 1.2s steps(20);
  overflow : hidden;
  white-space : nowrap;
  border-right: 4px solid white;
  width : 32ch;
}

.containerAlertPannel{
  display: none;
}



.alertPannel{
  border : 2px solid #F3F302;
  width : 70%;
  height: 70%;
  background: black;
  position: absolute;
  top : 15%;
  left : 15%;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: center;
  align-items: center;
  animation-name : shake;
  animation-duration: .4s;
  animation-iteration-count: 2;
}

@keyframes shake{
  from{
    transform: translateX(0px);
  }
  33%{
    transform: translateX(10px);
  }
  66%{
    transform: translateX(-10px);
  }
  to{
    transform: translateX(0px);
  }
}

.alertPannel img{
  width : 200px;
  height: 200px;
}

.alertPannel h1{
  color : #F3F302;
  padding-bottom: 60px;
  border-bottom: 4px solid #F3F302;
}

.alertPannel h2{
  font-size: 40px;
  color : #F3F302;
}

.containerTxtAlertPannel{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.containerVideo{
  z-index: 3;
  position: relative;
  border : 2px solid #F3F302;
  width : 1%;
  height: 1%;
  background: black;
  position: absolute;
  top : 15%;
  left : 15%;
  display: none;
  justify-content: center;
  flex-direction: center;
  align-items: center;
  animation-name : shake;
  animation-duration: .4s;
  animation-iteration-count: 2;
}

.playButton{
  position: absolute;
  width : 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playButton img{
  width : 400px;
}

.skipButton{
  z-index: 1;
  width : 150px;
  height: 50px;
  background-color: black;
  border : 3px solid #FFFF00;
  position: absolute;
  top : 85%;
  left : 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.msgReady{
  z-index: 1;
  width: 500px;
  height: 200px;
  position: absolute;
  background-color: black;
  border: 1px solid red;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.msgReady h1{
  text-align: center;
}

.containerButtonReadyBack{
  width : 70%;
  display: flex;
  justify-content: space-around;
}

.buttonReady{
  width : 100px;
  height: 50px;
  border : 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonReady a{
  color : white;
  text-decoration: none;
}

.buttonReady:hover{
  background-color: red
}

.buttonBack{
  width : 100px;
  height: 50px;
  border : 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonBack a{
  color : white;
  text-decoration: none;
}

.buttonBack:hover{
  background-color: red
}
