body{
  width : 100%;
  height: 100%;
  overflow: hidden;
  background-image: url(../images/watcherBackground.png);
  background-size:cover;
  font-family: 'Rubik', sans-serif;
  color :white;
}

.containerHeader{
  position: absolute;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  opacity: 0;
  justify-content: space-around;
  align-items: center;
  top : 0%;
  z-index: 1;
  background-color: black;
}

.containerHeader h2{
  color : #FFFF00;
}

.containerJoueursEnLigne{
  background-color: black;
  opacity: .8;
  width: 60%;
  height: 20%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerJoueursEnLigne h1{
  color : #FFFF00;
  font-size : 40px;
  margin: 20px;
}

.backgroundListeJoueurs{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top : 20%;
}

.joueurBackground{
  width : 100%;
  height: 100px;
  background-color: black;
  opacity: .6;
  margin : 30px 0px;
  animation-name: rightToLeft;
  animation-duration: 1.2s;
}

.ListeJoueurs{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top : 2%;
}

.joueurLive{
  width : 100%;
  height: 100px;
  margin : 30px 0px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  animation-name: rightToLeft;
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

.joueurLive:hover{
  border:3px solid red;
}

@keyframes rightToLeft {
  from{
    transform: translateX(300px);
  }
  to{
    transform: translateX(0px);
  }
}


.joueurPseudo{
  font-size: 27px;
  position: absolute;
  left : 10%;

}

.nombreViewers{
  width : 20%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nombreViewers h1{
  color : #09A595;

}

.nombreViewers img{
  width: 40%;
  height: 60%;
}

.displayNoneDefi{
  width : 100%;
  height: 320px;
  display: none;
}

.containerDefiBackground{
  position: absolute;
  margin-top: 50px;
  width : 100%;
  height: 250px;
  display: flex;
  justify-content: space-around;
}

.defiBackground{
  width: 20%;
  height: 80%;
  background-color: black;
  opacity: .6;
}

.containerDefi{
  position: absolute;
  margin-top: 50px;
  width : 100%;
  height: 250px;
  display: flex;
  justify-content: space-around;
}

.defi{
  width : 20%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.defi:hover{
  border : 4px solid #FFFF00;
}

.defi h1{
  font-size: 25px;
  color : #FFFF00;
  text-align: center;

}

.defi h2{
  font-size: 20px;
  color : #FFFF00;
  border-top: 4px solid #FFFF00;
  margin-top: 30px;
  padding-top: 30px;

}

.espaceDefi{
  position: absolute;
  top : 55%;
  width : 100%;
  height: 300px;
  display: none;
  justify-content: flex-start;
}

.containerGifDefi{
  width : 40%;
  height: 300px;
  margin: 0 auto;
  border: 4px solid #FFFF00;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerGifDefi h1{
  color : white;
  text-align: center;
  font-size: 17px;

}

.bgKiss{
  background-image: url(../images/kiss.gif);
}

.bgTatouage{
  background-image: url(../images/tatouage.gif);
}

.bgChute{
  background-image: url(../images/chute.gif);
}

.chat{
  width: 40%;
  height: 300px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.message{
  position: absolute;
  bottom: 60px;
  width: 100%;
  height: 50px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  padding-left: 20px;
  background-color: black;
  animation-name: disparition;
  animation-duration: 13s;
  animation-fill-mode: forwards;
}

@keyframes disparition {
  from{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

#firstMsg{
  opacity: .5;
}

#msgUtilisateur{
  width : 70%;
  height: 55px;
  position: absolute;
  bottom:0%;
  z-index: 1;
  padding-left: 20px;
}

.containerButtonMsgUtilisateur{

}

#msgUtilisateurButton{
  width : 30%;
  height: 60px;
  right : 0%;
  position: absolute;
  bottom : 0%;
  z-index: 1;
  background-color: red;
}

.containerMsgErreur{
  display: none;
}

.msgErreur{
  border : 2px solid #F3F302;
  width : 70%;
  height: 70%;
  background: black;
  position: absolute;
  top : 15%;
  left : 15%;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: center;
  align-items: center;
  animation-name : shake;
  animation-duration: .4s;
  animation-iteration-count: 2;
}

.msgErreur img{
  width: 200px;
  height: 200px;
}

.msgErreur h1{
  color : #F3F302;
  padding-bottom: 60px;
  border-bottom: 4px solid #F3F302;
  text-align: center;

}
.msgErreur h2{
  padding-top: 40px;
  font-size: 30px;
  color : #F3F302;
}

.msgErreur h2 a{
  color : #FFFF00;
  text-decoration: none;
}

.containerTxtMsgErreur{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes shake{
  from{
    transform: translateX(0px);
  }
  33%{
    transform: translateX(10px);
  }
  66%{
    transform: translateX(-10px);
  }
  to{
    transform: translateX(0px);
  }
}

/* RESET CSS */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
